<!-- Feel free to remove this div. Uses purplecoat: http://ellekasai.github.io/purplecoat.js -->
<div data-purplecoat="shiori" data-purplecoat-label="sidebar.html">
  <h3 class="section-header">
    View TT_last
  </h3>

  <p><a href="https://github.com/ttlast" target="_blank" class="btn btn-primary"><i class="fa fa-github fa-lg"></i> View on GitHub &rarr;</a></p>

  <h3>
    Author
  </h3>

  <p>
    <div class="media">
      <img src="https://avatars1.githubusercontent.com/u/2315399?v=3&u=3b87c39d1879eaf6d501703139bb5a918384d51c&s=140" alt="TT_last" class="pull-left">
      <div class="media-body">
        <h4 class="media-heading">TT_last</h4>
      </div>
    </div>
  </p>
</div>
  <div class="container">
  <wb:follow-button uid="1625284943" type="gray_4" width="240" height="64" ></wb:follow-button>
  </div>
